{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/primary.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'front-updated/Home.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">

	<link rel="icon" href="{% static 'icons/foil-green.png' %}">
	{% block stylesheets %}
	{% endblock stylesheets %}

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	
	<title> 
		{% block title %} Philippine Optimum General Hospital {% endblock title %}
	</title>
</head>

<body>
	<div class="ui container">
	{# navbar #}
	{% block navbar %} 
		{% if account == "PATIENT" %}
			{% include "patient/nav.jinja" %} 
		{% elif account == "STAFF" %}
			{% include "staff/nav.jinja" %} 
		{% else %}
			{% include "nav.jinja" %} 
		{% endif %}
	{% endblock navbar %}


	{# content #}
	{% block content %}{% endblock content %}

	{# footer #}
	{% block footer %}
		{# <!--  include "/footer.html"  --> #}
	{% endblock footer %}
	
	{# script #}
	<script type="text/javascript" src="/static/js/main.js?{% now 'U' %}"> </script>

	{% block script %}
	{% endblock script %}
	</div>
</body>
</html>