{% load static %}


<div class="ui menu">
  <img src="#" alt="" class="logo">
  <a href="{% url 'home' %}" class="item"> 
    HOME 
  </a>
  <a href="{% url 'add appointment' %}" class="item"> 
    ADD APPOINTMENT
  </a>
  <div class="right menu"> 
    <a href="{% url 'user login'%}" class="item"> 
      LOGIN
    </a>
    <a href="{% url 'staff login'%}" class="item"> 
      STAFF LOGIN
    </a>
  
  </div>


  {# <a href="" class="item"></a> #}
  {# <a href="" class="item"></a> #}
  {# <a href="" class="item"></a> #}
  {# <a href="" class="item"></a> #}
  {# <a href="" class="item"></a> #}
</div>